@model IEnumerable<CRUD_Alumnos.Models.Calificacion>

@{
    ViewBag.Title = "Calificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calificaciones</h2>
<br />
<p>
    <button type="button" class="btn btn-warning">@Html.ActionLink("Crear Nuevo", "Agregarcalificacion", "", new { @class = "boton" })</button>
</p>
<table class="table-responsive">
    <thead>
        <tr>
            <th>
                Alumno/a
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota4)
            </th>
            <th>
                Materia
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Alumno.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nota1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nota2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nota3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nota4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Materia.Nombre)
                </td>
                <td>
                    <button type="button" class="btn btn-primary">@Html.ActionLink("Editar", "Editarcalificacion", new { id = item.Id_Calificacion }, new { @class = "boton" })</button>
                    <button type="button" class="btn btn-success">@Html.ActionLink("Detalles", "Detllescalificacion", new { id = item.Id_Calificacion }, new { @class = "boton" })</button>
                    <button type="button" class="btn btn-danger">@Html.ActionLink("Eliminar", "Eliminarcalificacion", new { id = item.Id_Calificacion }, new { @class = "aElimina" })</button>
                </td>
            </tr>
        }
    </tbody>
    

</table>
@section scripts{
    <script>
        $(".aElimina").click(function (event) {
            if (!confirm("Estas seguro de eliminar? ")) {
                event.preventDefault();
            }
        });
    </script>
}