@model IEnumerable<CRUD_Alumnos.Models.AlumnoCE>

@{
    ViewBag.Title = "Lista de Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de alumnos</h2>
<br />
<p>
    <button type="button" class="btn btn-warning">@Html.ActionLink("Crear Nuevo", "Agregar", "", new { @class = "boton" })</button>                     
    <button type="button" class="btn btn-primary mostrar">@Html.ActionLink("Materias y notas de cada alumno/a", "MateriaAlumno", "", new { @class = "boton" })</button>
</p>

<table class="table-responsive">
    <thead>
        <tr>
            <th>
                Nombre Completo
            </th>
            <th>
                Edad
            </th>
            <th>
                Sexo
            </th>
            <th>
                Ciudad
            </th>
            <th>
                Fecha Alta
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @{
                        if (item.Sexo == "M")
                        {
                            <span>Masculino</span>
                        }
                        else
                        {
                            <span>Femenino</span>
                        }
                    }

                </td>
                <td>
                    @item.NombreCiudad
                </td>
                <td>
                    @item.FechaRegistr.ToShortDateString()
                </td>
                <td>
                    <button type="button" class="btn btn-primary">@Html.ActionLink("Editar", "Editar", new { id = item.id }, new { @class = "boton"})</button>
                    <button type="button" class="btn btn-success">@Html.ActionLink("Detalles", "Detallesalumno", new { id = item.id }, new { @class = "boton" })</button>
                    <button type="button" class="btn btn-danger">@Html.ActionLink("Eliminar", "EliminarAlumno", new { id = item.id }, new { @class = "aElimina" })</button>
                </td>
            </tr>
        }
    </tbody>


</table>
<br />  
<p>
    
</p>


@section scripts{
    <script>
        $(".aElimina").click(function (event) {
            if (!confirm("Estas seguro de eliminar? ")) {
                event.preventDefault();
            }
        });
    </script>
}